
.projects{
  background-color: #041022;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects__heading{
  font-size: 3rem;
  color: white;
  font-family: 'Source Code Pro', monospace;
  margin-bottom: 3rem;
}

.projects__single{
  max-width: 90vw;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 2rem;
}


@media only screen and (max-width: 940px) {
  .projects__single{
    grid-template-columns: auto auto;
    grid-gap: 2rem;
    max-width: 80vw;
  }

  .projects{
    height: fit-content;
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

}

@media only screen and (max-width: 600px) {

  .projects__heading{
    font-size: 2rem;
  }

  .projects__single{
    grid-template-columns: auto;
  }

  .projects{
    height: fit-content;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

