
.hero{
  height: 100vh;
  background-color: #041022;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'lato', monospace;
  padding-left: 5vw;
  padding-right: 5vw;
  
}

.hero__heading{
  font-size: 5rem;
  color: aliceblue;
  font-weight: 900;
  line-height: 1;
  margin-top: 15vh;
}

.hero__heading > .anshuman{
  color: #49e9b6;
}

.hero > .hero__webd{
  color: white;
  font-size: 4rem;
  text-decoration: none;
  font-weight: 700;
}

.blinker{
  animation: blinker 1s linear forwards infinite;
}

.hero__btn{
  margin-top: 1rem;
  width: max-content;
  padding: 1rem 3rem;
  background-color: transparent;
  border: 2px solid #49e9b6;
  color: #49e9b6;
  font-family: 'Source Code Pro', monospace;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  text-decoration: none;
}
.hero__btn:hover{
  background-color: #49e9b6;
  color: #041022;
}

.hero__socials{
  margin-top: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__socials > a{
  transition: 200ms ease-in-out;
}

.hero__socials > a:hover{
  transform: scale(1.1);
}

@keyframes blinker {
  100%{
    opacity: 1;
  }
  50%{
    opacity: 1;
  }
  49%{
    opacity: 0;
  }
  0%{
    opacity: 0;
  }
}

.hero__email{
  position: fixed;
  bottom: 0;
  right: 3vw;
  color: #49e9b6;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(90deg);
  transform-origin: right;
}

.hero__email > .line{
  width: 8rem;
  height: 2px;
  background-color: #49e9b6;
  margin-left: 1rem;
  margin-right: -3rem;
}

.hero__emailAddress{
  transform: rotate(180deg);
  font-size: 1rem;
  font-family: 'Source Code Pro', monospace;
}

.hero__emailAddress > a{
  text-decoration: none;
  color: #49e9b6;
  font-size: 1rem;
  cursor: pointer;
}

@media only screen and (max-width: 992px) {
  .hero__heading{
    font-size:4rem;
  }

  .hero > .hero__webd{
    font-size: 3rem;

  }
}

@media only screen and (max-width: 768px) {
  .hero__heading{
    font-size:3rem;
  }

  .hero > .hero__webd{
    font-size: 2.3rem;

  }

  .hero__socials :nth-child(2) .MuiSvgIcon-root{
    margin-left: 1rem !important;
    margin-right: 1rem !important;

  }
}

@media only screen and (max-width: 600px) {
  .hero__heading{
    font-size:2rem;
  }

  .hero > .hero__webd{
    font-size: 1.5rem;

  }

  .hero__btn{
    margin-top: 0.5rem;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
  }

  .hero__socials :nth-child(2) .MuiSvgIcon-root{
    margin-left: 0.8rem !important;
    margin-right: 0.8rem !important;

  }
}
